<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.onestravel.fivefiveplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name="cn.onestravel.fivefiveplayer.FiveVideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="video/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
